In [1]:
import pandas as pd
import datetime
from kickbase_api.kickbase import Kickbase
import os
import numpy as np

In [2]:
kickbase = Kickbase()
user, leagues = kickbase.login("fibi.mayr@gmail.com", "bYmtev-0qarcu-gykwij")

In [3]:
now = datetime.datetime.now()
dt_string = now.strftime("%d.%m.%Y %H:%M:%S")

In [4]:
players = {
    "first_name":[],
    "last_name":[],
    "id":[],
    "market_value":[],
    "market_value_trend":[],
    "team_id":[]
    }

for team_id in range(100):
    try:
        team_players = kickbase.team_players(str(team_id))
        for player in team_players:
            players["first_name"].append(player.first_name)
            players["last_name"].append(player.last_name)
            players["id"].append(player.id)
            players["market_value"].append(player.market_value)
            players["market_value_trend"].append(player.market_value_trend)
            players["team_id"].append(player.team_id)
    except:
        pass

In [5]:
players_df = pd.DataFrame(players)
players_df["date"] = pd.to_datetime(now)
players_df.sample(10)

,first_name,last_name,id,market_value,market_value_trend,team_id,date
1374,Nicolás,Melamed,4153,4586904.0,2,71,2022-07-27 08:35:24.904535
66,Filip,Kostic,1620,32174990.0,1,4,2022-07-27 08:35:24.904535
1361,Joan,García,4135,500000.0,0,71,2022-07-27 08:35:24.904535
297,Dawid,Kownacki,2375,4849517.0,1,12,2022-07-27 08:35:24.904535
609,Konstantinos-Vassilios,Lampropoulos,2997,1721717.0,2,24,2022-07-27 08:35:24.904535
340,Oliver,Baumann,524,14367994.0,1,14,2022-07-27 08:35:24.904535
1331,Youssouf,Sabaly,4088,13213333.0,1,69,2022-07-27 08:35:24.904535
54,Abdoulaye,Kamara,3068,500000.0,0,3,2022-07-27 08:35:24.904535
1352,Marcos André,de Sousa Mendonça,4123,1664922.0,1,70,2022-07-27 08:35:24.904535
344,Grischa,Prömel,1671,17520896.0,1,14,2022-07-27 08:35:24.904535

In [6]:
test_data = False
if test_data:
    players_df_next = players_df.copy()
    date = now
    for i in range(10):
        date = date + datetime.timedelta(days=1)
        players_df_next["date"] = date
        players_df_next["market_value"] = players_df_next["market_value"] + np.random.normal(0, 5000, players_df_next.shape[0]).astype(int)
        players_df = pd.concat([players_df, players_df_next])

In [10]:
if "player_data.csv" in os.listdir(".\\data"):
    history_df = pd.read_csv(".\\data\\player_data.csv")
    players_df = pd.concat([history_df, players_df], ignore_index=True)

players_df = players_df.drop_duplicates(subset=["first_name", "last_name", "date"], keep="first")
    
players_df.to_csv(".\\data\\player_data.csv", index=False)

In [26]:
players_df[(players_df["first_name"] == "Aaron") & (players_df["last_name"] == "Opoku")]

,first_name,last_name,id,market_value,market_value_trend,team_id,date
127,Aaron,Opoku,2579,3316407.0,2,6,2022-07-25 15:08:53.359394
127,Aaron,Opoku,2579,3166017.0,2,6,2022-07-26 14:37:40.825338
1579,Aaron,Opoku,2579,3031599.0,2,6,2022-07-27 08:35:24.904535